body, html {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 48px;
    padding: 40px 0;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
}

.main {
    padding: 40px 0;
}

.bookshelf {
    background: rgb(255,255,255); /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
}

.book {
    background: rgb(255,255,255); /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    height: 400px;
    position: relative;
}

.book:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,81,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,81,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,81,84,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,81,84,1) 100%); /* W3C */
}

.bookshelf img {
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
    left: 50%;
    margin-left: -80px;
    position: absolute;
    right: 0;
    width: 160px;
}

.book a {
    color: #000;
}

.book:hover a {
    text-decoration: none;
}

.book h3, .book-detail h3, .chapter .title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 20px;
}

.book p {
    padding: 0 20px;
}

.book-detail {
    margin: 0 auto 0;
    position: relative;
    width: 75%;
}

.book-detail img {
    width: 240px;   
}
  
.book-detail h3, .chapter .title {
    padding: 20px 0;
}

.book-detail p {
    font-size: 16px;
}

.button {
    background: #ff2c4b;
    color: #fff;
    display: block;
    font-family: "Roboto", sans-serif;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    text-align: center;
    width: 200px;
}

.button:hover {
    background: #cc2344;
    color: #fff;
    text-decoration: none;
}

.back, .next {
    background: url('../img/back.svg') center center #ff2c4b;
    background-size: 80px 80px;
    border-radius: 100%;
    height: 80px;
    left: 20px;
    margin-top: -40px;
    position: fixed;
    text-indent: -9999px;
    top: 50%;
    width: 80px;
}

.next {
    background: url('../img/next.svg') center center #ff2c4b;
    left: auto;
    right: 20px;   
}

.back:hover {
    background: url('../img/back.svg') center center #cc2344;
    background-size: 80px 80px;
}

.next:hover {
    background: url('../img/next.svg') center center #cc2344;
    background-size: 80px 80px;
}

.chapter {
    margin: 0 auto 0;
    width: 50%;   
}

.chapter-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.chapter p {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0 26px;
}

.author {
    font-style: italic;   
}

@media (max-width: 1170px) {
  .back, .next {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }    
}