<div class="bookshelf row" >
  <div class="book col-md-3" ng-repeat="book in myBooks">
    <a href="#/books/{{$index}}">
      <h3 class="title">{{ book.title }}</h3>
      <p class="author">{{ book.author }}</p>
      <p><img class="pull-left" ng-src="{{ book.cover }}" alt=""></p>
    </a>
  </div>
</div>